body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap{
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
  width: 1024px;
  margin: 1em;
  background-color: white;
}
.buttonAnimated{
    width: 100px;
    height: 30px;
    background: white;
    transition: 1s;
    outline: none;
}
.buttonAnimated.animation{
  width: 350px;
  height: 50px;
  background: red;
}
.eventButton{

}
.eventButton.unactive{
  background: #eee;
  color: #a8a8a8;
}

#error{
  color: red;
}

#bubbleParent{
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid blue;
}
#bubbleParent:hover{
  background: blue;
}
#bubbleChild{
  padding: 20px 30px;
  border: 1px solid red;
}
#bubbleChild:hover{
  background: red;
}
.loadedImage{
  transform: rotate(390deg);
  transition: 0.5s;
}
.w3-animate-left{
  position:relative;
  animation:animateleft 2s
}
@keyframes animateleft {
  from{left:-300px;opacity:0} to{left:0;opacity:1}
}
.w3-animate-right{
  position:relative;
  animation:animateright 2s
}
@keyframes animateright{
  from{right:-300px;opacity:0} to{right:0;opacity:1}
}
.w3-animate-zoom {animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
